// Custom styles by yourself.
// You should always modify the style here, not in the source code.
// Otherwise, when the theme is updated, the code you modified will be overwritten.
.body {
  background: url('https://unsplash.it/1920/1080/?random');
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0 !important;
  .github-corner {
    display: block !important;
  }
}
